
<!-- this is header for nobody -->
<div th:fragment="header-nb" class="navbar-nav flex-row order-md-last">
  <div class="nav-item">
    <div class="btn-list">
      <a href="#" id="username_" hidden></a>
      
      <a href="/login" class="btn">
        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
        <svg xmlns="http://www.w3.org/2000/svg" style="color: rgb(1, 130, 221);" width="16" height="16" fill="currentColor" class="bi bi-person-badge me-2" viewBox="0 0 16 16">
          <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z"/>
        </svg>
        Đăng nhập
      </a>
      <a href="/signup" class="btn">
        <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
        <svg xmlns="http://www.w3.org/2000/svg" style="color: rgb(1, 130, 221);" class="icon icon-tabler icon-tabler-brand-svelte" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M15 8l-5 3l.821 -.495c1.86 -1.15 4.412 -.49 5.574 1.352a3.91 3.91 0 0 1 -1.264 5.42l-5.053 3.126c-1.86 1.151 -4.312 .591 -5.474 -1.251a3.91 3.91 0 0 1 1.263 -5.42l.26 -.16"></path>
          <path d="M8 17l5 -3l-.822 .496c-1.86 1.151 -4.411 .491 -5.574 -1.351a3.91 3.91 0 0 1 1.264 -5.42l5.054 -3.127c1.86 -1.15 4.311 -.59 5.474 1.252a3.91 3.91 0 0 1 -1.264 5.42l-.26 .16"></path>
        </svg>
        Đăng ký
      </a>
    </div>
    
  </div>
</div>


<!-- this is header for user -->
<div th:fragment="header-sb" class="navbar-nav">
  <div class="nav-item dropdown">
    <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">

      <!-- this is photo of account -->
      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg>
      <div class="d-none d-xl-block ps-2">

        <!-- this is text author name -->
        <div th:text="${auth.account.username}" id="username_"></div>
        <div class="mt-1 fs-6 text-primary" th:text="${auth.role.id}"></div>
      </div>
    </a>


    <!-- drop down này cho user -->
    <div th:if="${auth.role.id == 'USER'}" class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" style="font-size: 11px !important; vertical-align: middle;">
      <a href="/user/myorder" class="dropdown-item">1. Quản lý hóa đơn</a>
      <a href="/profile" class="dropdown-item">2. Tài khoản của tôi</a>
      <a href="/user/feedback" class="dropdown-item">3. Nhận xét sản phẩm</a>
      <a href="/user/notify" class="dropdown-item">4. Thông báo của tôi</a>
      <div class="dropdown-divider"></div>
      <a href="/logout" class="dropdown-item">
        <svg xmlns="http://www.w3.org/2000/svg" style="color: red;" class="icon icon-tabler icon-tabler-power" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M7 6a7.75 7.75 0 1 0 10 0"></path>
          <line x1="12" y1="4" x2="12" y2="12"></line>
        </svg>
        Thoát tài khoản
      </a>
    </div>

    <!-- drop down này cho staff -->
    <div th:if="${auth.role.id == 'STAFF'}" class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" style="font-size: 11px !important; vertical-align: middle;">
      <a href="/staff/home" class="dropdown-item">1. Quản lý đơn hàng</a>
      <a href="/staff/product" class="dropdown-item">2. Quản lý chi tiết sản phẩm</a>
      <a href="/staff/category/all" class="dropdown-item">3. Quản lý phân loại sản phẩm</a>
      <a href="/staff/report" class="dropdown-item">4. Báo cáo thống kê</a>
      <a href="/company/logout" class="dropdown-item">
        <svg xmlns="http://www.w3.org/2000/svg" style="color: red;" class="icon icon-tabler icon-tabler-power" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M7 6a7.75 7.75 0 1 0 10 0"></path>
          <line x1="12" y1="4" x2="12" y2="12"></line>
        </svg>
        Thoát tài khoản
      </a>
    </div>




    <!-- drop down này cho admin -->
    <div th:if="${auth.role.id == 'ADMIN'}" class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" style="font-size: 11px !important; vertical-align: middle;">
      <a href="#" class="dropdown-item">1. Quản lý thống kê</a>
      <a href="#" class="dropdown-item">2. Lịch sử báo cáo</a>
      <div class="dropdown-divider"></div>
      <a href="/company/logout" class="dropdown-item">
        <svg xmlns="http://www.w3.org/2000/svg" style="color: red;" class="icon icon-tabler icon-tabler-power" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M7 6a7.75 7.75 0 1 0 10 0"></path>
          <line x1="12" y1="4" x2="12" y2="12"></line>
        </svg>
        Thoát tài khoản
      </a>
    </div>
  </div>
</div>
          