<!doctype html>
<html xmlns="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Fastshop - Quên mật khẩu</title>
    <!-- CSS files -->
    <link th:href="@{/dist/css/tabler.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/tabler-flags.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/tabler-payments.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/tabler-vendors.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/demo.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/all_feature.css}" rel="stylesheet"/>
    <link rel="shortcut icon" th:href="@{/dist/img/logo/logo_favicon.png}" type="image/x-icon">
</head>
  <body  class="d-flex flex-column">
    <div class="border-top-wide border-primary page page-center">
      <div class="container-tight py-4">
        <form class="card card-md" th:action="@{/forgot/access}" method="post" th:object="${accounts}">
          <div class="card-body">
            <div class="text-center mb-4">
              <a href="/fastshop.com" class="d-flex justify-content-center mb-2">
                <img th:src="@{/dist/img/logo/logo_hien.png}" alt="Tabler" class="navbar-brand-image">
              </a>
            </div>
            <h2 class="card-title text-center mb-4">Quên mật khẩu</h2>
            <p class="text-muted mb-4">Nhập địa chỉ email của bạn và xác nhận tài khoản để được thay đổi mật khẩu mới cho chính bạn.</p>
            <div class="mb-3">
              <label class="form-label">Địa chỉ email</label>
              <input type="email" name="email" class="form-control mb-1" placeholder="Nhập vào email">
              <span class="error">[[${error_forgot}]]</span>
            </div>
            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="3" y="5" width="18" height="14" rx="2" /><polyline points="3 7 12 13 21 7" /></svg>
                Gửi xác nhận
              </button>
            </div>
          </div>
        </form>
        <div class="text-center text-muted mt-3">
          Bỏ qua nó, <a href="/login">trở về lại login</a> màn hình giao diện.
        </div>
      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script th:src="@{/dist/js/tabler.min.js}" defer></script>
    <script th:src="@{/dist/js/demo.min.js}" defer></script>
  </body>
</html>