<div th:fragment="subfragment" class="page-wrapper">
  <div class="container py-4" ng-controller="discount-ctrl">
    <h1 class="text-primary" style="font-size: 25px;">Mã giảm giá</h1>
    <div class="card">
      <div class="card-body border-bottom py-3">
        <div class="d-flex align-items-center">
          <div class="text-muted">
            Hiển thị
            <div class="mx-2 d-inline-block">
              <input type="text" class="form-control form-control-sm text-center" ng-model="discounts.length" size="3" aria-label="Invoices count" disabled>
            </div>
            mã giảm giá
          </div>

          <div class="ms-auto text-muted d-flex justify-content-center">
            <!-- this is filter products -->
            <input type="text" ng-model="getId" class="form-control me-3" placeholder="Nhập từ khóa tìm kiếm mã giảm giá!" style="width: 350px;">

            <!-- this is button to open form -->
            <button class="btn btn-light d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-discount" style="text-decoration: none;">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" /><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" />
              </svg>
              Thêm mã ưu đãi
            </button>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <div class="card">
          <div class="table-responsive">
            <table class="table card-table table-borderless table-vcenter text-nowrap datatable">
              <thead>
                <tr>
                  <th>Mã voucher</th>
                  <th>Ngày ra mắt</th>
                  <th>Ngày kết thúc</th>
                  <th>Giá trị %</th>
                  <th>Giảm giá tiền mặt (USD)</th>
                  <th>Số lượng voucher</th>
                  <th>Hiệu lực</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="n in discounts|orderBy:'dateEnd':true|filter:getId">
                  <td>
                    <input type="text" style="width: 200px;" value="{{n.id}}" readonly />
                  </td>
                  <td>
                    <input type="text" style="width: 160px;" value="{{n.dateFrom|date:'dd-MM-yyyy'}}" readonly/>
                  </td>
                  <td>
                    <input type="text" style="width: 160px;" value="{{n.dateEnd|date:'dd-MM-yyyy'}}" readonly/>
                  </td>
                  <td>
                    <input type="text" style="width: 140px;" value="{{n.free}}" readonly/>
                  </td>
                  <td>
                    <input type="text" style="width: 160px;" value="{{n.dolar}}" readonly/>
                  </td>
                  <td>
                    <input type="text" style="width: 100px;" value="{{n.number}}" readonly/>
                  </td>
                  <td>
                    <p class="{{ (n.dateEnd >= now) ? 'text-success' : 'text-danger' }}">
                      {{ n.dateEnd >= now ? 'Còn hạn' : 'Hết hạn' }}
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>





    <!-- this is modal -->
    <div class="modal modal-blur fade" id="modal-discount" tabindex="-1" role="dialog" aria-hidden="true"
      style="transition: 0.2s;">
      <div class="modal-dialog modal-lg" role="document">
        <form method="post" class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Chi tiết mã giảm giá</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label">Nhập mã giảm</label>
              <img src="/dist/img/vourcher/point-hand.gif" class="me-2" style="width: 30px;" alt="">
              <button class="btn btn-outline-primary" type="button" ng-click="randomCode()">
                Tạo mã nhanh
              </button>
              <span class="ms-2 bg-white border p-2">{{ code_ }}</span>
            </div>
            <div class="row">
              <div class="col-lg-8">
                  <div class="mb-3">
                    <label class="form-label">Số lượng voucher</label>
                    <!-- this is date -->
                    <input type="number" ng-model="code.number" placeholder="-" min="1" class="form-control">
                  </div>
              </div>
              <div class="col mb-3">
                <label class="form-label">Số ngày ưu đãi</label>
                <!-- this is date -->
                <input type="number" ng-model="numberDay" ng-change="changeDate()" placeholder="-" min="0" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Giảm giá %</label>

                  <!-- this is category -->
                  <select class="form-select" ng-model="code.free" onchange="diabledVoucher()" id="code_free">
                    <option value="">- Chọn một giá trị -</option>
                    <option value="10">10 %</option>
                    <option value="15">15 %</option>
                    <option value="20">20 %</option>
                    <option value="30">30 %</option>
                    <option value="50">50 %</option>
                    <option value="money">Tiền mặt</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
                <div  id="code_money">
                  <label class="form-label">Giảm tiền mặt</label>
                  <!-- this is date -->
                  <input type="number" ng-model="code.dolar" onchange="diabledVoucher()" placeholder="..." min="1" class="form-control">
                </div>
            </div>
            <div class="error mt-1">
              {{error}}
            </div>
          </div>

          <!-- this is for edit to update and delete -->
          <div class="modal-footer">
            <a href="#" class="btn btn-primary" ng-click="check()">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ballpen" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M14 6l7 7l-4 4"></path>
                <path
                  d="M5.828 18.172a2.828 2.828 0 0 0 4 0l10.586 -10.586a2 2 0 0 0 0 -2.829l-1.171 -1.171a2 2 0 0 0 -2.829 0l-10.586 10.586a2.828 2.828 0 0 0 0 4z">
                </path>
                <path d="M4 20l1.768 -1.768"></path>
              </svg>
              Thêm mã giảm
            </a>
          </div>
        </form>
      </div>
    </div>
    <script>
      $("#code_money").hide();

      function diabledVoucher() {
        if($("#code_free").val() == "money") {
          $("#code_money").slideDown();
        }
        else {
          $("#code_money").slideUp();
        }
      };
    </script>
  </div>
</div>