<div th:fragment="subfragment" class="page-wrapper">
  <div class="page-wrapper" ng-controller="staffhome-ctrl">
    <div class="page-body">
      <div class="container d-flex justify-content-start">
        <div class="card border-white">
          <div class="card-body">
            <div class="btn-list">
              <a href="/staff/orders/status/0" class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-person-down me-2" viewBox="0 0 16 16">
                  <path d="M12.5 9a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7Zm.354 5.854 1.5-1.5a.5.5 0 0 0-.708-.708l-.646.647V10.5a.5.5 0 0 0-1 0v2.793l-.646-.647a.5.5 0 0 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                  <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
                </svg>
                Khách đã gửi
              </a>
              <a href="/staff/orders/status/1" class="btn">
                Tiếp nhận
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-primary bi bi-arrow-down ms-1" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                </svg>
              </a>
              <a href="/staff/orders/status/2" class="btn">
                Đóng gói
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ms-2 text-warning bi bi-boxes" viewBox="0 0 16 16">
                  <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434L7.752.066ZM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567L4.25 7.504ZM7.5 9.933l-2.75 1.571v3.134l2.75-1.571V9.933Zm1 3.134 2.75 1.571v-3.134L8.5 9.933v3.134Zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567-2.742 1.567Zm2.242-2.433V3.504L8.5 5.076V8.21l2.75-1.572ZM7.5 8.21V5.076L4.75 3.504v3.134L7.5 8.21ZM5.258 2.643 8 4.21l2.742-1.567L8 1.076 5.258 2.643ZM15 9.933l-2.75 1.571v3.134L15 13.067V9.933ZM3.75 14.638v-3.134L1 9.933v3.134l2.75 1.571Z"/>
                </svg>
              </a>
              <a href="/staff/orders/status/3" class="btn">
                Đang giao
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-black bi bi-car-front ms-2" viewBox="0 0 16 16">
                  <path d="M4 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm10 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2H6ZM4.862 4.276 3.906 6.19a.51.51 0 0 0 .497.731c.91-.073 2.35-.17 3.597-.17 1.247 0 2.688.097 3.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 10.691 4H5.309a.5.5 0 0 0-.447.276Z"/>
                  <path fill-rule="evenodd" d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM4.82 3a1.5 1.5 0 0 0-1.379.91l-.792 1.847a1.8 1.8 0 0 1-.853.904.807.807 0 0 0-.43.564L1.03 8.904a1.5 1.5 0 0 0-.03.294v.413c0 .796.62 1.448 1.408 1.484 1.555.07 3.786.155 5.592.155 1.806 0 4.037-.084 5.592-.155A1.479 1.479 0 0 0 15 9.611v-.413c0-.099-.01-.197-.03-.294l-.335-1.68a.807.807 0 0 0-.43-.563 1.807 1.807 0 0 1-.853-.904l-.792-1.848A1.5 1.5 0 0 0 11.18 3H4.82Z"/>
                </svg>
              </a>
              <a href="/staff/orders/status/4" class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-all me-2 text-success" viewBox="0 0 16 16">
                  <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z"/>
                </svg>
                Đã giao
              </a>
              <a href="/staff/orders/status/-1" class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg me-2 text-danger" viewBox="0 0 16 16">
                  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                </svg>
                Đã hủy
              </a>
              <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#modal-search-order">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-reply-fill me-2 ms-2 text-primary" viewBox="0 0 16 16">
                  <path d="M5.921 11.9 1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/>
                </svg>
                Tìm kiếm
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="container mt-3 mb-4">
        <div class="card">
          <div class="card-body border-bottom py-3">
            <div class="d-flex">
              <div class="text-muted">
                Hiển thị
                <div class="mx-2 d-inline-block">
                  <input type="number" class="form-control form-control-sm" ng-model="length" min="0" max="100" aria-label="Invoices count">
                </div>
                hóa đơn
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table card-table table-borderless table-hover text-nowrap datatable">
              <thead>
                <tr>
                  <th class="text-center">ID</th>
                  <th class="text-end w-3">Username</th>
                  <th class="text-center">Đã gửi</th>
                  <th class="text-center">Đã tiếp nhận</th>
                  <th class="text-center">Đóng gói</th>
                  <th class="text-center">Đang giao</th>
                  <th class="text-center">Đã giao</th>
                  <th class="text-center">Đã hủy</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="o in orders | limitTo:length">
                  <td class="text-center">
                    <a href="{{'#order-' + o.id}}" class="text-primary" tabindex="-1">{{o.id}}</a>
                  </td>
                  <td class="text-end">
                    {{o.account.username}}
                  </td>
                  <td class="text-center">
                    <span class="badge bg-success me-1" style="width: 20px; height: 20px;" ng-if="o.status.id == 0"></span>
                  </td>
                  <td class="text-center">
                    <span class="badge bg-success me-1" style="width: 20px; height: 20px;" ng-if="o.status.id == 1"></span>
                  </td>
                  <td class="text-center">
                    <span class="badge bg-success me-1" style="width: 20px; height: 20px;" ng-if="o.status.id == 2"></span>
                  </td>
                  <td class="text-center">
                    <span class="badge bg-success me-1" style="width: 20px; height: 20px;" ng-if="o.status.id == 3"></span>
                  </td>
                  <td class="text-center">
                    <span class="badge bg-success me-1" style="width: 20px; height: 20px;" ng-if="o.status.id == 4"></span>
                  </td>
                  <td class="text-center">
                    <span class="badge bg-danger me-1" style="width: 20px; height: 20px;" ng-if="o.status.id == -1"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="container">
        <th:block th:if="${status == 0}">
          <h1 class="text-primary">Hôm nay</h1>
        </th:block>
        <th:block th:if="${status == 1}">
          <h1 class="text-primary">Tiếp nhận</h1>
        </th:block>
        <th:block th:if="${status == 2}">
          <h1 class="text-primary">Đóng gói</h1>
        </th:block>
        <th:block th:if="${status == 3}">
          <h1 class="text-primary">Đang giao hàng</h1>
        </th:block>
        <th:block th:if="${status == 4}">
          <h1 class="text-primary">Thành công</h1>
        </th:block>
        <th:block th:if="${status == -1}">
          <h1 class="text-primary">Đơn hàng bị hủy</h1>
        </th:block>
      </div>

      <div class="container mt-3" th:id="${'order-' + o.id}" th:each="i : ${#numbers.sequence(ordertoday.size() - 1, 0, -1)}" th:with="o=${ordertoday[i]}">
        <div class="card mb-4">
          <div class="card-body">
            <address class="border p-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-geo-alt-fill me-2 text-danger" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
              </svg>
              <b>[[${o.account.fullname}]]</b> - [[${o.account.phone}]] - <b>[[${o.address}]]</b>
            </address>
            <div class="col d-flex justify-content-between">
              <table class="table table-vcenter card-table">
                <thead>
                  <tr>
                    <th class="col-1">Mã đơn</th>
                    <th class="col-1 pe-4">Ngày đặt hàng</th>
                    <th class="col-4">Các sản phẩm</th>
                    <th class="col-2 text-center">Số lượng</th>
                    <th class="col-1">Giá tiền</th>
                    <th class="col">Tổng tiền</th>
                    <th>[[${status == 4 || status == -1 ? 'Có' : 'Chuyển' }]] trạng thái</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>[[${o.id}]]</b></td>
                    <td>[[${o.createDate}]]</td>
                    <td class="text-truncate text-primary" style="cursor: pointer;">
                      <p href="####" onclick="showImage(this.id)" th:id="${pro.product.image}" th:each="pro : ${o.orderDetails}">
                        [[${pro.product.name}]]
                      </p>
                    </td>
                    <td class="text-center">
                      <p th:each="pro : ${o.orderDetails}" class="text-center">[[${pro.quantity}]]</p>
                    </td>
                    <td>
                      <p th:each="pro : ${o.orderDetails}">
                        $ [[${#numbers.formatDecimal(pro.product.price == null ? 0 : pro.product.price, 0, 2)}]]
                      </p>
                    </td>
                    <td th:with="total=0">
                      <p th:each="pro : ${o.orderDetails}" th:with="qty=${pro.quantity},price=${pro.product.price},total=${qty*price}">
                        $ [[${#numbers.formatDecimal(total == null ? 0 : total, 0, 2)}]]
                      </p>
                    </td>
                    <td>
                      <th:block th:if="${status == 0}">
                        <a th:href="@{${'/staff/confirm/' + o.id + '?status=1'}}" style="font-weight: bold;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short me-2" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                          </svg>
                          Tiếp nhận</a>
                      </th:block>
                      <th:block th:if="${status == 1}">
                        <a th:href="@{${'/staff/confirm/' + o.id + '?status=2'}}" style="font-weight: bold;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short me-2" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                          </svg>
                          Đang đóng gói</a>
                      </th:block>
                      <th:block th:if="${status == 2}">
                        <a th:href="@{${'/staff/confirm/' + o.id + '?status=3'}}" style="font-weight: bold;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short me-2" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                          </svg>
                          Giao hàng ngay</a>
                      </th:block>
                      <th:block th:if="${status == 3}">
                        <a th:href="@{${'/staff/confirm/' + o.id + '?status=4'}}" style="font-weight: bold;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short me-2" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                          </svg>
                          Đã giao</a>
                      </th:block>
                      <th:block th:if="${status == 4}">
                        <span style="font-weight: bold;" class="text-success">
                          Thành công</span>
                      </th:block>
                      <th:block th:if="${status == -1}">
                        <span style="font-weight: bold;" class="text-danger">
                          Đã hủy</span>
                      </th:block>
                    </td>
                  </tr>
                  <tr th:if="${status != -1}">
                    <td></td>
                    <td></td>
                    <td>- Tổng tiền : <b>$ [[${#numbers.formatDecimal(o.total == null ? 0 : o.total, 0, 2)}]]</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-center">
                      <a href="#" class="text-danger me-4" th:if="${status != 4}" data-bs-toggle="modal" th:data-bs-target="${'#modal-cancel-' + o.id}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                          <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                        </svg>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- this is modal which to confirm canceled a order -->
        <div class="modal modal-blur fade" th:id="${'modal-cancel-' + o.id}" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <form method="post" th:action="@{|${'/staff/confirm/' + o.id + '?status=-1' }|}" class="modal-content" th:object="${mailInfo}">
              <div class="modal-header">
                <h5 class="modal-title">Gửi gmail phản hồi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row mb-3 align-items-end">
                  <div class="col">
                    <label class="form-label text-black">
                      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill text-warning me-2" viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="8"/>
                      </svg>
                      Gửi đến: 
                    </label>
                    <input type="text" class="form-control" th:field="*{to}" th:value="${o.account.email}" readonly/>
                  </div>
                </div>
                <div class="row mb-3 align-items-end">
                  <div class="col">
                    <label class="form-label text-black">
                      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill text-success me-2" viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="8"/>
                      </svg>
                      Tiêu đề: 
                    </label>
                    <input type="text" class="form-control" th:field="*{subject}" readonly/>
                  </div>
                </div>
                <div>
                  <label class="form-label text-black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill text-primary me-2" viewBox="0 0 16 16">
                      <circle cx="8" cy="8" r="8"/>
                    </svg>
                    Nội dung bài viết: 
                  </label>
                  <textarea class="form-control" rows="7" th:field="*{body}"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Gửi thông báo</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>



    <!-- this is modal page which to search any order with a staff do that -->
    <div class="modal modal-blur fade" id="modal-search-order" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Bảng tìm kiếm hóa đơn</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label text-primary">Tìm kiếm theo</label>
              <div class="form-selectgroup">
                <label class="form-selectgroup-item" id="order-search-account">
                  <input type="checkbox" name="name" class="form-selectgroup-input" checked>
                  <button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Filter to account">
                    <!-- icon account -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    </svg>
                  </button>
                </label>
                <label class="form-selectgroup-item" id="order-search-calendar">
                  <input type="checkbox" name="name" class="form-selectgroup-input">
                  <button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Filter to calendar">
                    <!-- icon calendar -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-calendar2-month" viewBox="0 0 16 16">
                      <path d="m2.56 12.332.54-1.602h1.984l.54 1.602h.718L4.444 7h-.696L1.85 12.332h.71zm1.544-4.527L4.9 10.18H3.284l.8-2.375h.02zm5.746.422h-.676v2.543c0 .652-.414 1.023-1.004 1.023-.539 0-.98-.246-.98-1.012V8.227h-.676v2.746c0 .941.606 1.425 1.453 1.425.656 0 1.043-.28 1.188-.605h.027v.539h.668V8.227zm2.258 5.046c-.563 0-.91-.304-.985-.636h-.687c.094.683.625 1.199 1.668 1.199.93 0 1.746-.527 1.746-1.578V8.227h-.649v.578h-.019c-.191-.348-.637-.64-1.195-.64-.965 0-1.64.679-1.64 1.886v.34c0 1.23.683 1.902 1.64 1.902.558 0 1.008-.293 1.172-.648h.02v.605c0 .645-.423 1.023-1.071 1.023zm.008-4.53c.648 0 1.062.527 1.062 1.359v.253c0 .848-.39 1.364-1.062 1.364-.692 0-1.098-.512-1.098-1.364v-.253c0-.868.406-1.36 1.098-1.36z"/>
                      <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                      <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
                    </svg>
                  </button>
                </label>
                <label class="form-selectgroup-item" id="order-search-price">
                  <input type="checkbox" name="name" class="form-selectgroup-input">
                  <button class="btn btn-default"  data-toggle="tooltip" data-placement="top" title="Filter to order canceled">
                    <!-- icon cancel -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-clipboard-x" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M6.146 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708z"/>
                      <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                      <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                    </svg>
                  </button>
                </label>
              </div>


              <!-- staff filter for order ACCOUNT -->
              <form action="/action_page.php" class="mt-2 row" id="order-form-account">
                <div class="col-lg-10">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="* email hoặc số điện thoại">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary col">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
                </button>
              </form>

              <!-- staff filter for order CALENDAR -->
              <form action="/action_page.php" class="mt-2 row" id="order-form-calendar">
                <div class="col-lg-10">
                  <div class="form-group mb-1">
                    <input type="date" class="form-control">
                  </div>
                  <div class="form-group">
                    <input type="date" class="form-control">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary col">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
                </button>
              </form>
            </div>


            <!-- this is show all of order before -->
            <div class="row d-flex justify-content-between align-items-center bg-white p-2 border mb-2" th:each="orderNot : ${orderNotToday}">
              <div class="col text-muted text-start">
                <span data-toggle="tooltip" data-placement="top" th:title="${orderNot.account.fullname}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="me-2 bi bi-circle-fill text-success" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"/>
                  </svg>
                  ID: [[${orderNot.id}]] 
                </span>
              </div>
              <div class="col text-muted text-end">
                <span class="me-3">
                  [[${orderNot.createDate}]]
                </span>
                <a href="#modal-bill-staff" data-bs-toggle="modal">- Chi tiết</a>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            @Copyright 2022 - <strong>FASTSHOP.COM</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    function showImage(image) {
      var path = "http://localhost:8080/dist/img/products/" + image;
      Swal.fire({
        title: document.getElementById(image).innerHTML,
        imageUrl: path,
        imageWidth: 400,
        imageHeight: 350,
      })
    }
  </script>
</div>
