<div th:fragment="subfragment" class="page-wrapper">
  <div class="container py-4" ng-controller="product-ctrl">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Sản phẩm</h3>
      </div>
      <div class="card-body border-bottom py-3">
        <div class="d-flex">
          <div class="text-muted">
            Hiển thị
            <div class="mx-2 d-inline-block">
              <input type="text" class="form-control form-control-sm text-center" ng-model="items.length" size="3"
                aria-label="Invoices count" disabled>
            </div>
            sản phẩm
          </div>

          <div class="ms-auto text-muted d-flex justify-content-center">
            <!-- this is filter products -->
            <input type="text" ng-model="getItems" class="form-control me-3"
              placeholder="Nhập từ khóa tìm kiếm sản phẩm ..." style="width: 350px;">

            <!-- this is button to open form -->
            <button class="btn btn-success d-none d-sm-inline-block" data-bs-toggle="modal"
              data-bs-target="#modal-product-add" style="text-decoration: none;">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <line x1="12" y1="5" x2="12" y2="19" />
                <line x1="5" y1="12" x2="19" y2="12" />
              </svg>
              Thêm sản phẩm
            </button>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-borderless">
          <thead>
            <tr>
              <th class="w-1"></th>
              <th class="w-1">Id.
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm text-dark icon-thick" width="24" height="24"
                  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <polyline points="6 15 12 9 18 15" />
                </svg>
              </th>
              <th class="w-3">Tên sản phẩm.</th>
              <th>Hình ảnh.</th>
              <th>Số lượng.</th>
              <th>Giá cả.</th>
              <th>Ngày tạo ra.</th>
              <th>Trạng thái.</th>
              <th>Loại hàng.</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            <!-- this is tr -->
            <tr ng-repeat="item in items | filter : getItems | orderBy : 'item.id'">
              <td></td>
              <td><span class="text-muted">#.{{ item.id }}</span></td>
              <td class="text-reset text-truncate">{{ item.name }}</td>
              <td class="text-truncate">
                <img class="bg-white" src="/dist/img/products/{{item.image}}" width="37px" height="37px">
                <a href="/user/detail/{{item.id}}">{{ item.image }}</a>
              </td>
              <th>{{ item.number }}</th>
              <td>
                <strong style="font-weight: bolder;">$</strong> {{ item.price }}
              </td>
              <td>
                {{ item.createDate | date:'dd-MM-yyyy'}}
              </td>
              <td>
                <span class="badge bg-{{item.number != 0 && item.category.status != false ? 'success' : 'danger'}} me-1"></span>
                {{ item.number != 0 && item.category.status != false ? 'Còn bán' : 'Hết bán' }}
              </td>
              <td> {{ item.category.name }} </td>
              <td class="text-end">

                <!-- this is edit -->
                <a ng-click="edit(item.id)" class="btn d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-product" style="text-decoration: none; margin-right: 20px; border: 1px dashed gray">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-vector-pen me-2" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828L10.646.646zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"/>
                    <path fill-rule="evenodd" d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086.086-.026z"/>
                  </svg>
                  Xem
                </a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>





    <!-- modal add product -->
    <div class="modal modal-blur fade" id="modal-product-add" tabindex="-1" role="dialog" aria-hidden="true"
      style="transition: 0.2s;">
      <div class="modal-dialog modal-lg" role="document">
        <form method="post" class="modal-content" action="/staff/products/add" enctype="multipart/form-data" th:object="${productDTO}">
          <div class="modal-header">
            <h5 class="modal-title">Chi tiết sản phẩm</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label">Tên sản phẩm</label>

              <!-- this is model name of form product -->
              <input type="text" class="form-control text-primary" min="10" name="example-text-input"
                placeholder="Nhập tên sản phẩm ..." autocomplete="off" th:field="*{name}" required>
            </div>
            <label class="form-label">Nhập thêm số lượng</label>
            <div class="form-selectgroup-boxes row mb-3">
              <div>
                <input type="number" min="1" step="1" class="form-control ps-2" placeholder="Nhập số số lượng ..."
                  autocomplete="off" th:field="*{number}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <div class="mb-3">
                  <label class="form-label">Giá sản phẩm</label>
                  <div class="input-group input-group-flat">

                    <!-- this is price of product -->
                    <input type="number" class="form-control ps-2" autocomplete="off" min="1" step="0.01"
                      placeholder="Nhập giá sản phẩm ..." th:field="*{price}" required>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-3">
                  <label class="form-label">Thể loại sản phẩm</label>

                  <!-- this is category -->
                  <select class="form-select" th:field="*{category}">
                    <option th:each="c : ${categories}" th:value="${c.id}">[[${c.name}]]</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Chọn ảnh</label>

                  <!-- this is file -->
                  <input type="file" class="form-control" id="productImage" name="productImage" accept="image/jpeg, image/png, image/jpg">
                  <img src="#" id="imgPreview" height="100px" width="100px" th:src="@{${'/dist/img/products/' + productDTO.imageName}}" style="margin-top: 20px" alt="Hình ảnh">
                  <input type="hidden" name="imgName" th:value="${productDTO.imageName}">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Ngày thêm sản phẩm</label>

                  <!-- this is date -->
                  <input type="text" class="form-control" value="{{now | date:'dd/MM/yyyy'}}" readonly>
                </div>
              </div>
            </div>
          </div>

          <!-- this is for edit to update and delete -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ballpen" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M14 6l7 7l-4 4"></path>
                <path
                  d="M5.828 18.172a2.828 2.828 0 0 0 4 0l10.586 -10.586a2 2 0 0 0 0 -2.829l-1.171 -1.171a2 2 0 0 0 -2.829 0l-10.586 10.586a2.828 2.828 0 0 0 0 4z">
                </path>
                <path d="M4 20l1.768 -1.768"></path>
              </svg>
              Lưu trữ
            </button>
          </div>
        </form>
      </div>
    </div>


    <!-- model edit and stop sale -->
    <!-- this is modal -->
    <div class="modal modal-blur fade" id="modal-product" tabindex="-1" role="dialog" aria-hidden="true" style="transition: 0.2s;">
      <div class="modal-dialog modal-lg" role="document">
        <form method="post" class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Chi tiết sản phẩm</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label">Tên sản phẩm</label>

              <!-- this is model name of form product -->
              <input type="text" ng-model="form.name" class="form-control text-primary" name="example-text-input" placeholder="Nhập tên sản phẩm ...">
            </div>
            <label class="form-label">Nhập số lượng</label>
            <div class="form-selectgroup-boxes row mb-3">
              <div>
                <input type="number" ng-model="form.number" min="1" step="1"  class="form-control ps-2" autocomplete="off" required>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <div class="mb-3">
                  <label class="form-label">Giá sản phẩm</label>
                  <div class="input-group input-group-flat">

                    <!-- this is price of product -->
                    <input type="number" ng-model="form.price" min="1" step="0.01" class="form-control ps-2" autocomplete="off" required>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-3">
                  <label class="form-label">Thể loại sản phẩm</label>

                  <!-- this is category -->
                  <select class="form-select" ng-model="form.category.id">
                    <option th:each="c : ${categories}" th:value="${c.id}">[[${c.name}]]</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Chọn ảnh</label>

                  <!-- this is file -->
                  <input type="file" class="form-control" ng-model="form.image" id="form-image">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Ngày thêm sản phẩm</label>

                  <!-- this is date -->
                  <input type="date" class="form-control" ng-model="form.createDate">
                </div>
              </div>
            </div>
          </div>

          <!-- this is for edit to update and delete -->
          <div class="modal-footer">
            <button type="button" ng-click="update()" class="btn btn-primary">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ballpen" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M14 6l7 7l-4 4"></path>
                <path d="M5.828 18.172a2.828 2.828 0 0 0 4 0l10.586 -10.586a2 2 0 0 0 0 -2.829l-1.171 -1.171a2 2 0 0 0 -2.829 0l-10.586 10.586a2.828 2.828 0 0 0 0 4z"></path>
                <path d="M4 20l1.768 -1.768"></path>
              </svg>
              Cập nhật
            </button>
            <button type="button" ng-click="delete(form.id)" class="btn btn-danger">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-archive" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="3" y="4" width="18" height="4" rx="2"></rect>
                <path d="M5 8v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-10"></path>
                <line x1="10" y1="12" x2="14" y2="12"></line>
              </svg>
              Ngừng bán
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    // this is function to get src of image when staff upload image
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#imgPreview').attr('src', e.target.result).width(100).height(100);
        }
        reader.readAsDataURL(input.files[0])
      }
    }
    $('#productImage').change(function () {
      readURL(this);
    });
    

    // -------------------------------------
    $(".custom-file-input").on("change", function () {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
  </script>
</div>
</div>