<div th:fragment="subfragment" class="page-wrapper">
  <div class="container d-flex justify-content-center">
    <div class="card mt-4 mb-4">
      <div class="card-header row d-flex justify-content-between">
        <div class="col-lg-6">
          <h3 class="card-title text-primary">CHỈNH SỬA CHI TIẾT SẢN PHẨM</h3>
          <p style="font-size: 11px; color: red; font-style: italic;">* Nhấn Enter hoặc Đến khi hoàn thành</p>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th class="text-center">Hình ảnh.</th>
              <th>Tên sản phẩm.</th>
              <th>Nút kích hoạt</th>
            </tr>
          </thead>
          <tbody>
            <!-- this is tr -->
            <tr th:each="item : ${items}">
              <td class="text-center">
                <img class="bg-white" th:src="@{${'/dist/img/products/' + item.image} }" width="35px" height="35px">
              </td>
              <td class="text-reset">[[ ${ item.name } ]]</td>
              <td class="text-center">
                <!-- this is edit -->
                <a class="btn btn-default" th:href="@{ ${'/staff/detail/' + item.id } }" style="text-decoration: none;">
                    Thông tin
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>      
  </div>
</div>