<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    @import url('https://rsms.me/inter/inter.css');
    :root {
      --tblr-font-sans-serif: Inter,-apple-system,BlinkMacSystemFont,San Francisco,Segoe UI,Roboto,Helvetica Neue,sans-serif !important;
    }
  </style>
  <!-- CSS files -->
  <link th:href="@{/dist/css/tabler.min.css}" rel="stylesheet"/>
  <link th:href="@{/dist/css/tabler-flags.min.css}" rel="stylesheet"/>
  <link th:href="@{/dist/css/tabler-payments.min.css}" rel="stylesheet"/>
  <link th:href="@{/dist/css/tabler-vendors.min.css}" rel="stylesheet"/>
  <link th:href="@{/dist/css/demo.min.css}" rel="stylesheet"/>
  <link th:href="@{/dist/css/all_feature.css}" rel="stylesheet"/>
  <link rel="shortcut icon" th:href="@{/dist/img/logo/logo_favicon.png}" type="image/x-icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script></head>
</head>
<body ng-app="bill-app">
  <div class="container pb-2" ng-controller="bill-ctrl">
    <div th:text="${auth.account.username}" id="username_" hidden></div>
    <div id="modal-bill" tabindex="-1" role="dialog" aria-hidden="true" style="transition: 0.2s;">
      <div class="modal-dialog modal-lg" style="border: 1px dashed rgb(0, 114, 228);" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title p-3">
              <img th:src="@{/dist/img/logo/logo_hien.png}" height="35" alt="">
            </h5>
            <span>Ngày mua : <b>[[${#dates.format(now, 'dd-MM-yyyy')}]]</b></span>
          </div>
          <div class="modal-body">
            <div class="mb-4">
              <h1>HÓA ĐƠN THANH TOÁN CỦA BẠN</h1>
              <span><b>- Tên khách hàng : </b> [[${auth.account.fullname}]]</span><br>
              <span><b>- Địa chỉ tại : </b> [[${address}]]</span><br>
              <span><b>- SĐT: </b> 0386837399</span><br>
            </div>
  
  
            <div class="row">
              <label class="form-label">DANH SÁCH SẢN PHẨM ĐÃ CHỌN</label>
              <table class="table table-borderless" style="border-bottom: 1px solid #f2f3f4;">
                <thead>
                  <tr>
                    <th>Sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Giá</th>
                    <th>Thành tiền</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in cart.items">
                    <td>{{item.name}}</td>
                    <td><strong>{{item.qty}}</strong></td>
                    <td>$ {{item.price}}</td>
                    <td>$ {{cart.amt_of(item) | number:2}}</td>
                  </tr>
  
  
                  <tr>
                    <th>Tổng chi phí : </th>
                    <td></td>
                    <td></td>
                    <th>$ {{cart.amount | number:2}}</th>
                  </tr>
                  <tr>
                    <th>Phí ship : </th>
                    <td></td>
                    <td></td>
                    <th>$ 1.2</th>
                  </tr>
                </tbody>
              </table>
              <br>
              <h2 class="text-end text-danger">TỔNG TIỀN : $ {{cart.amount + 1.2 | number:2}}</h2>
            </div>
  
  
            <label class="mt-3 form-label">HÌNH THỨC THANH TOÁN</label>
            <div class="form-selectgroup-boxes row">
              <div class="col-lg-12" ng-if="payment == 'bill-1'">
                <label class="form-selectgroup-item">
                  <span class="form-selectgroup-label d-flex align-items-center p-3">
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1 text-primary">Sau khi nhận hàng</span>
                      <span class="d-block text-muted d-flex justify-content-center">
                        <img th:src="@{/shipper.png}" height="40" alt="shipper.png" style="margin-right: 10px;">
                        <span>Quý khách có thể thanh toán sau khi nhận được hàng. Xin hãy luôn giữ điện thoại để shipper chúng tôi có thể giao hàng nhanh chóng nhất</span>
                      </span>
                    </span>
                  </span>
                </label>
              </div>
              <div class="col-lg-12" ng-if="payment == 'bill-2'">
                <label class="form-selectgroup-item">
                  <span class="form-selectgroup-label d-flex align-items-center p-3">
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1 text-primary">Thanh toán bằng ATM</span>
                      <div class="mt-3 d-flex justify-content-between" style="vertical-align: middle;">
                        <img th:src="@{/dist/img/bank/sacombank.png}" style="width: auto; height: 30px;" class="border p-1 me-1" alt="">
                        <span class="ms-2">
                          <span>Tài khoản của bạn sẽ được lưu trữ trong chi tiết hóa đơn</span>
                          <span>Tài khoản của bạn có mã số là *** [[${#strings.substring(atm.number,atm.number.length()-4,atm.number.length())}]]</span>
                        </span>
                      </div>
                    </span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
  
    <!-- script swal -->
    <script th:src="@{/angular/bill.js}"></script>
    <script th:src="@{/dist/js/all_feature.js}" type="text/javascript" defer></script>
    <script th:src="@{/dist/libs/apexcharts/dist/apexcharts.min.js}" type="text/javascript" defer></script>
    <script th:src="@{/dist/libs/jsvectormap/dist/js/jsvectormap.min.js}" type="text/javascript" defer></script>
    <script th:src="@{/dist/libs/jsvectormap/dist/maps/world.js}" type="text/javascript" defer></script>
    <script th:src="@{/dist/libs/jsvectormap/dist/maps/world-merc.js}" type="text/javascript" defer></script>
    
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <script th:src="@{/lib/easing/easing.min.js}"></script>
    <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script th:src="@{/dist/js/tabler.min.js}" type="text/javascript" defer></script>
    <script th:src="@{/dist/js/demo.min.js}" type="text/javascript" defer></script>
  </div>
</body>
</html>