<div th:fragment="subfragment" class="page-wrapper">
	<div class="col-sm-8 offset-2">
		<form th:action="@{'/user/changepass/' + ${auth.account.username}}" method="post"  th:object="${account}">
		  <h1 class="mt-2 text-center">Change password</h1>
		  <div class="mb-3">
				 <label class="form-label" for="username">Username</label>
				 <input type="text" name="username" th:field="*{username}" class="form-control" autocomplete="off" />
		  </div>
		  <div class="mb-3">
				 <label class="form-label required" for="passwordOld">Old Password</label>
				 <input type="password" id="passwordOld" name="passwordOld" th:field="*{passwordOld}" class="form-control" autocomplete="off" />
		  </div>
		  <div class="mb-3">
				 <label class="form-label required" for="passwordNew">New Password</label>
				 <input type="password" id="passwordNew" name="passwordNew" th:field="*{passwordNew}" class="form-control" autocomplete="off" />
		  </div>
		  <div class="mb-3">
				 <label class="form-label required" for="comfirmPass">comfirmPass New Password</label>
				 <input type="password" id="comfirmPass" name="comfirmPass" th:field="*{comfirmPass}" class="form-control" autocomplete="off" />
		  </div>
		  <button class="btn btn-primary mx-auto">Change</button>
		  </form>
		</div>
		<script>
			// $(document).ready(function () {
			// 	$("#passwordOld").blur(function () {
			// 		if ($("#passwordOld").val() == ""){
			// 			$("#passwordOld").css("background-color", "red");
			// 		}else{
			// 			$("#passwordOld").css("background-color", "white");
			// 		}
			// 	})
			// 	$("#passwordNew").blur(function () {
			// 			 if ($("#passwordNew").val() == "" || $("#passwordNew").val() != $("#comfirmPass").val()) {
			// 					$("#passwordNew").css("background-color", "red");
			// 					// $("#comfirmPass").css("background-color", "red");
			// 			 } else if ($("#passwordNew").val() == $("#comfirmPass").val()) {
			// 					$("#comfirmPass").css("background-color", "white");
			// 					$("#passwordNew").css("background-color", "white");
			// 			 }

			// 	  })
			// 	  $("#comfirmPass").blur(function () {
			// 			 if ($("#comfirmPass").val() == "" || $("#comfirmPass").val() != $("#passwordNew").val()) {
			// 					$("#passwordNew").css("background-color", "red");
			// 					$("#comfirmPass").css("background-color", "red");
			// 			 } else if ($("#passwordNew").val() == $("#comfirmPass").val()) {
			// 					$("#comfirmPass").css("background-color", "white");
			// 					$("#passwordNew").css("background-color", "white");
			// 			 }

			// 	  })

			// });


	 </script>
	</div>