<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Fastshop - Gửi gmail thành công</title>
    <!-- CSS files -->
    <link th:href="@{/dist/css/tabler.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/tabler-flags.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/tabler-payments.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/tabler-vendors.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/demo.min.css}" rel="stylesheet"/>
    <link rel="shortcut icon" th:href="@{/dist/img/logo/logo_favicon.png}" type="image/x-icon">
  </head>
  <body class="d-flex flex-column">
    <div class="border-top-wide border-primary page page-center">
      <div class="container">
        <div class="empty">
          <img width="250" src="/tick.png" alt="">
          <h1 class="empty-subtitle text-muted" style="font-size: 30px;">
            Đã tiếp nhận email của bạn.
          </h1>
          <p class="text-primary">(- Hãy kiểm tra gmail và xác nhận tài khoản của bạn -)</p>
        </div>
      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script th:src="@{/dist/js/tabler.min.js}" defer></script>
    <script th:src="@{/dist/js/demo.min.js}" defer></script>
  </body>
</html>